pkgbase = codex-app-bin
	pkgdesc = Official OpenAI ChatGPT desktop app with Codex, repackaged for Arch Linux
	pkgver = 26.908.40834
	pkgrel = 1
	url = https://developers.openai.com/codex/app
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = cups
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libdrm
	depends = libglvnd
	depends = libnotify
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	optdepends = apparmor: load the packaged profile on AppArmor-enabled systems
	optdepends = bubblewrap: preferred sandbox helper for Codex commands
	optdepends = git: Git repository integration
	provides = codex-app
	provides = chatgpt
	conflicts = codex-app
	conflicts = chatgpt
	options = !debug
	options = !strip
	source = chatgpt-26.908.40834-1.x86_64.rpm::https://persistent.oaistatic.com/codex-app-prod/linux/rpm/x86_64/chatgpt-26.908.40834-1.x86_64.rpm
	sha256sums = fc63bde0c514e2066d2ce213ec5f1bf59622f436cb7721561a5f923aeacf3657

pkgname = codex-app-bin
